/* ----------------------------- */
/*  WILDCARD ARTICLE STYLESHEET  */
/*                               */
/*    Last edited: 11 Jan 2016   */
/*   Last edit by: Chi Señires   */
/*                               */
/* ----------------------------- */

@import url("main.css");

.main-article {
  background-color: #fff;
  padding: 1rem 5rem;
  margin: 2.5% auto;
  width: 90%;
}

.main-article h1 {
  font-size: 3em;
  padding: 0.5rem 0;
  text-align: center;
}

.main-article footer {
  text-align: center;
}

.main-article .share-buttons {
  width: 150px;
  height: 40px;
  margin: 1rem auto;
  background-color: gray;
}
 
.main-article h2, 
.main-article h3, 
.main-article h4, 
.main-article h5, 
.main-article h6 {
  margin: 0 auto;
}

.main-article > p {
  margin: 0.95rem auto;
  width: 60rem;
}

.main-article .article-image {
  border: #d1d1d1 solid 5px;
  background-color: #d1d1d1;
}

.main-article .align-center,
.main-article .align-center img {
  margin: 0 auto;
}

.main-article .align-left,
.main-article .align-left img {
  float: left;
  margin-right: 1.5%;
}

.main-article .align-left {
  margin-left: 5rem;
}

.main-article .align-right,
.main-article .align-right img {
  float: right;
  margin-left: 1%;
}

.main-article .align-right {
  margin-right: 5rem;
}

.main-article img {
  width: 100%;
}

.main-article .size-full {
  max-width: 60%;
}

.main-article .size-medium {
  max-width: 30%;
}

.main-article .size-small {
  max-width: 15%;
}

figcaption {
  padding: 0.75%;
  margin: 0 auto;
  text-align: center;
  font-size: 0.75rem;
}

.clearfix {
  clear: both;
}

.tags {
  margin: 1rem 2rem;
}

.tags > a {
  background-color: #D3D3D3;
  padding: 10px;
  color: #2BAADE;
}

.tags > a:hover {
  background-color: #2BAADE;
  color: #D3D3D3;
}

.after-article {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.after-article > section {
  margin: 0 1%;
}

/* COMMENTS? */
.comments {
  padding: 0 1rem;
  width: 100%;
  -webkit-flex-grow: 1.95;
      -ms-flex-positive: 1.95;
          flex-grow: 1.95;
  height: 750px;
  background-color: #A8A8A8;
}

/* RANDOM ARTICLES styles */
.random-articles {
  padding: 0 0.5rem;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-negative: 1.95;
      -webkit-flex-shrink: 1.95;
          flex-shrink: 1.95;
}

.random-articles > article {
  width: 45%;
  margin-top: 1.5rem;
}

.random-articles > h1 {
  padding: 0.75rem;
  -webkit-flex: 4 0 100%;
      -ms-flex: 4 0 100%;
          flex: 4 0 100%;
  background-color: #04A89D;
  color: #fff;
}

/* RESPONSIVE STYLES */
@media screen and (max-width: 760px) {
  .main-article {
    width: 100%;
  }

  .main-article h1 {
    font-size: 2.5em;
  }

  .main-article > p {
    width: 17.5rem;
  }

  .main-article .align-left,
  .main-article .align-left img,
  .main-article .align-right,
  .main-article .align-right img {
    float: none;
    margin: 0 auto;
  }

  .main-article .size-full,
  .main-article .size-medium,
  .main-article .size-small {
    max-width: 100%;
  }

  .tags {
    margin: 1rem;
  }

  .tags > a {
    display: inline-block;
    margin: 5px;
  }

  .after-article {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }

  .random-articles {
    margin-top: 2.5%;
  }
}