/* ----------------------------- */
/*  WILDCARD ARTICLE STYLESHEET  */
/*                               */
/*    Last edited: 9 Feb 2016    */
/*   Last edit by: Chi Señires   */
/*                               */
/* ----------------------------- */

@import url("main.css");

.content {
  width: 90%;
  flex-wrap: wrap;
}

.main-article {
  /*background-color: #fff;*/
  padding: 2.5em 1.5em 2.5em;
  width: 65%;
  /*box-shadow: 0 5px 5px rgba(0,0,0,0.25);*/
}

.main-article .article-title {
  font-size: 3em;
  margin: 0 4rem 0.75rem;
}

.main-article .article-info {
  margin: 0 4rem;
}

.main-article .share-buttons {
  width: 150px;
  height: 40px;
  margin: 1rem auto;
  background-color: gray;
  display: none;
}
 
.main-article h2, 
.main-article h3, 
.main-article h4, 
.main-article h5, 
.main-article h6 {
  margin: 0 auto;
  width: 90%;
}

.main-article > p {
  margin: 2rem 4rem 1rem;
  width: 90%;
  font-size: 18px;
  line-height: 150%;
}

.main-article .article-image {
  border: #d1d1d1 solid 5px;
  background-color: #d1d1d1;
}

.main-article .align-center,
.main-article .align-center img {
  margin: 0 auto;
}

.main-article .align-left,
.main-article .align-left img {
  float: left;
  margin-right: 1.5%;
}

.main-article .align-left {
  margin-left: 5rem;
}

.main-article .align-right,
.main-article .align-right img {
  float: right;
  margin-left: 1%;
}

.main-article .align-right {
  margin-right: 5rem;
}

.main-article img {
  width: 100%;
}

.main-article .size-full {
  max-width: 80%;
}

.main-article .size-medium {
  max-width: 60%;
}

.main-article .size-small {
  max-width: 30%;
}

figcaption {
  padding: 0.75%;
  margin: 0 auto;
  text-align: center;
  font-size: 0.75rem;
}

.clearfix {
  clear: both;
}

.tags {
  margin: 1rem auto;
}

.tags > a {
  background-color: #D3D3D3;
  padding: 10px;
  color: #2BAADE;
}

.tags > a:hover {
  background-color: #2BAADE;
  color: #D3D3D3;
}

.widgets {
  display: block;
  margin: 1%;
}

/* COMMENTS? */
.comments {
  display: block;
  padding: 0 1rem;
  width: 60%;
  height: 500px;
  background-color: #A8A8A8;
}

/* RANDOM ARTICLES styles */
.random-articles {
  /*position: fixed;*/
  width: 67%;
  margin: 0 1rem 2.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.random-articles > article {
  width: 23%;
  margin: 1.5rem 0.5rem 0;
  height: 20em;
}

.random-articles > h1 {
  padding: 1rem;
  width: 60%;
  flex-basis: 100%;
  background-color: #04A89D;
  color: #fff;
}

.random-articles .article-header {
  font-size: 1rem;
}

.random-articles .article-info {
  font-size: 0.75rem;
  padding: 0 1.5em;
}

/* RESPONSIVE STYLES */
@media screen and (max-width: 992px) {
  .main-article {
    width: 100%;
  }

  .main-article .article-title,
  .main-article .article-info,
  .main-article p {
    margin-left: 2rem;
  }

  /*originally also in max-width: 760px setting */
  .random-articles, .comments {
    margin: 2.5% auto;
    width: 100%;
  }

  .random-articles > article {
    width: 22.22%;
    width: calc(100%/4.5);
    height: 21em;
  }

  .random-articles .article-header {
    font-size: 1.25em;
  }
}

@media screen and (max-width: 760px) {
  .main-article {
    width: 95%;
    padding: 0;
    margin: 0 auto;
  }

  .main-article .article-title,
  .main-article .article-info {
    margin: 0 auto;
  }

  .main-article p {
    margin: 2em auto;
    width: 100%;
  }

  .main-article .align-left,
  .main-article .align-left img,
  .main-article .align-right,
  .main-article .align-right img {
    float: none;
    margin: 0 auto;
  }

  .main-article .size-full,
  .main-article .size-medium,
  .main-article .size-small {
    max-width: 100%;
  }

  .tags > a {
    display: inline-block;
    margin: 2px;
  }

  .random-articles > article {
    width: 100%;
    height: 17em;
  }
}