/* -------------------------- */
/*  WILDCARD MAIN STYLESHEET  */
/*                            */
/*  Last edited: 8 Jan 2016   */
/*  Last edit by: Chi Señires */
/*                            */
/* -------------------------- */

@import url("type.css"); /* for text-related styles */

/* CLEARING OF PRESET STYLES */
* {
  margin: 0;
  padding: 0;
}

header, footer,  nav, article, main {
  display: block;
}

/* GENERAL STYLES */
html, body {
  width: 100%;
  background-color: #F8F8F8;
  background-image: url("../images/bg.png");
  background-repeat: repeat;
  overflow-x: hidden;
}

/* header STYLES */
.header {
  width: 80%;
  margin: 1% auto;
}

.banner {
  background-color: #fff;
  margin: 0.5% 0 0;
}

.banner > img {
  display: block;
  width: 50%;
  margin: 0 auto;
}

/* nav STYLES */
nav {
  width: 100%;
  /*margin-top: 0.5em;*/
  background-color: #04A89D;
  border-top: #1A1A1A 5px solid;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav ul {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
}

nav ul li a {
  display: block;
  text-align: center;
  color: #F3F3F3;
  text-decoration: none;
  font-size: 1.25rem;
  padding: 0.75rem 3.35rem;
  transition: 200ms;
}

nav ul li a:hover {
  background-color: #85C549;
  transition: 200ms;
}

.search {
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
  height: 25px;
  padding: 0 1.5%;
}

.search input[type="text"] {
  border: none;
  font-size: 1.05em;
  text-indent: 5px;
}

.search a {
  color: #F3F3F3;
  font-size: 1.15em;
  padding: 1.5px;
}

.search a:hover {
  background-color: #85C549;
}

/* MAIN CONTENT STYLES */
.content {
  width: 80%;
  margin: 0 auto 2.5%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.category-title {
  -webkit-flex-basis: 100%;
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%;
}

/* Article preview-box styles */
.preview-box {
  width: calc(100%/4.5);
  height: 22.75em;
  margin: 0.8% 1%;
  overflow: hidden;
  background-color: #fff;
  border-top: #04A89D 5px solid;
  transition: 400ms;
}

.fade {
  position: relative;
  height: calc(14px * 133.33% * 3);
}

.fade::after {
  content: "";
  text-align: right;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 70%;
  height: 16px;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 50%);
}

.preview-box .article-image {
  width: 100%;
  height: 10em;
  background-image: url("../images/sample.jpg");
  background-position: center;
  background-size: cover;
}

.preview-box h1 {
  padding: 12.5px 5px 5px;
}

.preview-box footer, .preview-box p {
  padding: 0.5px 5px;
}

.preview-box > footer {
  font-size: 0.75em;
}

/* onhover styles */
.preview-box:hover {
  border-top-color: #85C549;
  transition: 400ms;
}

#featured {
  width: calc(100%/2);
  margin: 0.5% 0.75% 0 0;
}

#featured > .preview-box {
  width: 100%;
  position: relative;
}

#featured .featured-image {
  width: 100%;
  height: 22.75em;
  background-image: url("images/sample2.jpg");
  background-position: center;
  background-size: cover;
}

.clip {
  -webkit-clip-path: inset(0 0 40em 0);
          clip-path: inset(0 0 40em 0);
}

.featured-text {
  background-color: rgba(255,255,255,0.75);
  position: absolute;
  bottom: 0;
  padding: 1%;
  transition: 400ms;
}

#featured a:hover + .featured-text,
#featured .featured-text:hover {
  background-color: rgba(255,255,255,1);
  transition: 400ms;
}