@import url("type.css");

* {
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  background-color: #F8F8F8;
  overflow-x: hidden;
}

/* ------ */
/* HEADER */
/* ------ */

.header {
  position: fixed;
  width: 100%;
  height: 6.5em;
  border-bottom: #1A1A1A 5px solid;
  z-index: 999;
}

.header .logo {
  display: inline-block;
  width: 30%;
  height: 100%;
  /*padding: 0.5rem 0;*/
  margin: 0;
  background-color: #f8f8f8;
}

.header .logo img {
  display: block;
  margin: 0 auto;
  width: 80%;
}

/* NAVIGATION */
nav {
  display: inline-block;
  vertical-align: top;
  width: 70%;
  margin-left: -4px; /* for whitespace problem for inline-blocks */
  height: 100%;
  background-color: #04A89D;
}

nav ul {
  list-style-type: none;
  height: 100%;
  position: absolute;
}

nav ul li {
  display: inline-block;
  float: left;
}

nav ul li a {
  display: block;
  width: 180px;
  height: 100%;
  padding: 2rem 0;
  text-align: center;
  text-decoration: none;
  font-size: 1.25rem;
  color: #F3F3F3;
  transition: 200ms;
}

nav ul li:hover:not(:last-child) a {
  color: #1A1A1A;
  transition: 200ms;
}

/* for dropdown menus */
nav ul li .dropdown {
  display: none;
  z-index: 6;
}

nav ul li .dropdown li {
  display: block;
  float: none;
}

nav ul li .dropdown li a {
  width: 180px;
  padding: 1rem 0;
}

nav ul li a:hover + .hidden, .hidden:hover {
  display: block;
}

nav ul li:hover .dropdown a {
  color: #F3F3F3;
  background-color: #04A89D;
}

nav ul li:hover .dropdown a:hover {
  color: #1A1A1A;
}

/* Search bar styles */
.search {
  padding: 2rem 0;
}

.search input[type=text] {
  display: inline;
  border: transparent solid 1px;
  background-color: rgba(0,0,0,0.2);
  color: #fff;
  padding: 0.25rem;
  width: 75%;
  transition: 200ms;
}

.search input[type=text]:hover {
  border: #F8F8F8 solid 1px;
  transition: 200ms;
}

nav ul li .search a {
  display: inline;
  vertical-align: middle;
  width: 20%;
  margin-left: 0.25rem;
}

/* MAIN CONTENT STYLES */
.content {
  width: 80%;
  margin: 8em auto 0;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

/* Social Media Buttons styles */
.social-media-buttons {
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 6;
  background-color: #04A89D;
  padding: 1rem;
  color: #F8F8F8;
  font-size: 2rem;
}

.social-media-buttons ul {
  list-style-type: none;
}

.social-media-buttons ul li {
  padding: 0.2rem;
}

.social-media-buttons a {
  color: #F8F8F8;
  transition: 200ms;
}

.social-media-buttons a:hover {
  color: #1A1A1A;
  transition: 200ms;
}

/* ARTICLE STYLES */
.articles {
  flex-shrink: 10;
  margin: 0 auto 2.5%;
  display: flex;
  flex-wrap: wrap;
}

/* Article preview-box styles */
.preview-box {
  width: 25.53%;
  width: calc(100%/4.25);
  height: 25em;
  margin: 0.8% 1.25% 0.8% 0;
  overflow: hidden;
  background-color: #F8F8F8;
  border-top: #04A89D 5px solid;
  box-shadow: 0 5px 5px rgba(0,0,0,0.25);
  transition: 400ms;
}

.preview-box:hover {
  border-top-color: #85C549;
  transition: 400ms;
}

.preview-box .article-image {
  width: 100%;
  height: 10em;
  background-image: url("../images/sample.jpg");
  background-position: center;
  background-size: cover;
}

.preview-box .article-header {
  padding: 1rem 1.25rem 0.5rem;
  line-height: 120%;
  font-size: 1.25rem;
}

.preview-box .article-info, .preview-box .article-excerpt {
  padding: 0rem 1.25rem 0.5rem;
}

/* Featured article styles */
#featured {
  width: 48.25%;
  margin: 0.3% 1.25% 0 0;
}

#featured .preview-box {
  width: 100%;
  position: relative;
}

#featured .featured-image {
  width: 100%;
  height: 100%;
  background-image: url(".../images/sample.jpg");
  background-position: center;
  background-size: cover;
}

#featured .featured-text {
  position: absolute;
  background-color: rgba(255,255,255,0.8);
  bottom: 0;
  padding: 2.5% 2.5% 5%;
  transition: 400ms;
}

#featured a:hover + .featured-text,
#featured .featured-text:hover {
  background-color: rgba(255,255,255,1);
  transition: 400ms;
}

/* Category styles */
.search-query {
  margin-bottom: 1%;
  flex-basis: 100%;
}