/* -------------------------- */
/*  WILDCARD FONT STYLESHEET  */
/*                            */
/*  Last edited: 8 Jan 2016   */
/*  Last edit by: Chi Señires */
/*                            */
/* -------------------------- */

/* FOR HEADINGS */
@font-face {
  font-family: "Bitter Bold";
  src: url("../fonts/headings/bitter/Bitter-Bold.otf") format("truetype");
}

@font-face {
  font-family: "Bitter";
  src: url("../fonts/headings/bitter/Bitter-Regular.otf") format("truetype");
}

/* FOR PARAGRAPHS */
@font-face {
  font-family: "Clear Sans";
  src: url("../fonts/body/clear-sans/ClearSans-Regular.ttf") format("truetype");
}

body {
  font-family: "Clear Sans", sans-serif;
  line-height: 133.33%;
  font-size: 14px;
  color: #37392E;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Bitter", serif;
  color: #383B37;
  padding: 1rem 0 0.5rem;
}

strong {
  color: #222;
}

a, a:visited, a:active {
  font-family: "Bitter", Arial, serif;
  text-decoration: none;
}

/* SPECIFIC STYLES */
a.author, a.datetime {
  color: #2BAADE;
  font-family: "Bitter", Arial, serif;
}

a:hover.author, a:hover.datetime {
  color: #85C549;
}

@media screen and (max-width: 760px) {
  h1, h2, h3, h4, h5, h6 {
    line-height: 100%;
  }
}